<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <title>Servidor</title>
</head>
<body style="background-color: #00000000;">
    <script>
        window.userip = "desconhecido";
    </script>

    {{!-- Mostrar os créditos --}}
    <div id="div_creditos_background">
        <label>
            Imagem de <a href="https://pixabay.com/pt/users/jganjos-4149006/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1941336">Janderson Garcia dos Anjos jganjos</a> por <a href="https://pixabay.com/pt//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1941336">Pixabay</a>
        </label>
    </div>

    {{{body}}}
    
    {{!-- Div que mostra o carregamento --}}
    <div id="loading">
        <div id="loading-circle">
            <label>Carregando...</label>
        </div>
    </div>

    {{!-- Div que mostra uma mensagem ao usuario --}}
    <div id="divContainerAsk">
        <form id="divAsk">
            <label>Carregando...</label>
            <input type="text">
            <div id="divBtnAsk">
                <button type="button" id="btnAskNo">Cancelar</button>
                <button type="submit" id="btnAskYes">Ok</button>
            </div>
        </form>
    </div>

    <script defer>
        const globalState = {
            isLoading: false
        }

        function isLoading() {
            return globalState.isLoading
        }

        function showLoading(options = { backColor: '#ffffff', text: "Carregando..." }) {
            document.querySelector('#loading-circle label').textContent = options.text
            document.getElementById("loading").style.backgroundColor = options.backColor
            document.getElementById("loading").style.display = "flex"
            globalState.isLoading = true
        }

        function hideLoading() {
            document.getElementById("loading").style.display = "none"
            globalState.isLoading = false
        }

        let defaultOptions = {
            title: "...",
            inputType: null,
            keep: false,
            ok: { title: "Ok", onPress: () => {} },
            cancel: { title: "Cancelar", onPress: () => {} },
        }

        async function makeQuestion(options = defaultOptions) {
            options = {...defaultOptions, ...options}

            $("#divContainerAsk #divAsk label").html(options.title)
            const ipt = $("#divContainerAsk #divAsk input")

            if (options.inputType !== null) {
                ipt.prop("type", options.inputType)
                ipt.css("display", "flex")
            } else {
                ipt.css("display", "none")
            }

            const btnNo = $("#divContainerAsk #btnAskNo")
            const btnYes = $("#divContainerAsk #btnAskYes")

            btnNo.html(options.cancel.title)
            btnYes.html(options.ok.title)

            btnNo.off('click').click((e) => {
                e.stopPropagation()

                if (!options.keep)
                    $("#divContainerAsk").css("display", "none");

                options.cancel.onPress()
            })

            btnYes.off('click').click((e) => {
                e.stopPropagation()

                if (!options.keep)
                    $("#divContainerAsk").css("display", "none");

                const msg = ipt.val()
                ipt.val('')

                options.ok.onPress(msg)
            })

            $("#divContainerAsk").css("display", "flex")
        }

        $("#divContainerAsk #divAsk").submit((e) => e.preventDefault())
        $("#divContainerAsk #divAsk").click((e) => e.stopPropagation())
        $("#divContainerAsk #btnAskNo").click((e) => e.stopPropagation())

        $("#divContainerAsk").click(() => {
            $("#divContainerAsk #btnAskNo").click()
        })

        function isValidName(name) {
            if (!name) return false
            if (name.length > 90) return false
            return name.match(/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ0-9\-_\(\) ]+$/)
        }

        function addGoBackButton(divPaiName, link) {
            const divPai = document.getElementById(divPaiName)

            const mydiv = document.createElement("div")
            mydiv.className = "div_lastrow"

            const mybutton = document.createElement("button")
            mybutton.textContent = "Voltar"
            mybutton.id = "btnVoltar"
            mybutton.type = "button"
            mybutton.addEventListener("click", () => window.location.href = encodeURI(link))

            mydiv.appendChild(mybutton)
            divPai.appendChild(mydiv)
        }

        //saber o ip da pessoa
        function getIp(callback) {
            function response(s) {
                callback(window.userip);

                s.onload = s.onerror = null;
                document.body.removeChild(s);
            }

            function trigger() {
                var s = document.createElement("script");
                s.async = true;
                s.onload = () => response(s)
                s.onerror = () => response(s)

                s.src = "https://l2.io/ip.js?var=userip";
                document.body.appendChild(s);
            }

            if (/^(interactive|complete)$/i.test(document.readyState))
                trigger();
            else
                document.addEventListener('DOMContentLoaded', trigger);
        }

        document.querySelector("body").style.background = `url("${window.location.origin}/back.png")`
    </script>

    <style>
        .scroll_style::-webkit-scrollbar {
            width: 5px;
            margin: 1px;
        }

        .scroll_style::-webkit-scrollbar-track {
            background: #aaa;
        }

        .scroll_style::-webkit-scrollbar-thumb {
            background: rgb(0, 78, 55);
        }

        .div_lastrow {
            display: flex;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 5px;
            justify-content: center;
            margin: 5px;
        }

        @media (max-height: 520px) and (orientation: landscape) {
            .div_lastrow {
                display: none;
            }
        }

        #btnVoltar {
            border-width: 0px;
            width: 100%;

            align-items: center;
            justify-content: center;

            font-size: medium;

            background-color: #00000000;
            color: rgb(0, 78, 55);
        }

        #btnVoltar:hover {
            color: rgb(0, 255, 128);
        }

        #loading {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
        }

        #loading > #loading-circle{
            animation: is-rotating 1s infinite;

            display: flex;
            width: 10vw;
            height: 10vw;

            border: 10px solid #aaa;
            border-top-color: rgb(0, 78, 55);
            border-radius: 50%;

            align-items: center;
            justify-content: center;
        }

        #loading-circle > label {
            color: #555;
            font-size: medium;
        }

        @keyframes is-rotating {
            to {
                transform: rotate(1turn);
            }
        }

        #div_creditos_background {
            position: absolute;
            bottom: 5px;
            height: 2vh;
            transform: scaleY(0.8);
            opacity: 0.6;
        }

        #div_creditos_background > label {
            color: #555;
        }

        @media (max-height: 520px) or (orientation: portrait) {
            #div_creditos_background {
                display: none;
            }
        }

        #divContainerAsk {
            position: absolute;
            display: none;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            align-items: center;
            justify-content: center;
            background-color: #000000aa;
        }

        #divContainerAsk > #divAsk {
            display: flex;
            flex-direction: column;
            padding: 25px;
            border-radius: 10px;
            background-color: #fff;
            min-height: 60px;
            min-width: 200px;
            align-items: center;
        }

        #divContainerAsk > #divAsk > label {
            color: #333;
            font-size: medium;
            text-align: center;
        }

        #divContainerAsk > #divAsk > input {
            color: #333;
            font-size: medium;
            text-align: center;
            border-radius: 10px;
            border-width: 1px;
            outline: 0px;
            padding: 5px;
            margin-top: 5px;
            width: 85%;
        }

        #divContainerAsk > #divAsk > #divBtnAsk {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }

        #divContainerAsk > #divAsk > #divBtnAsk > button {
            border-width: 0px;
            border-radius: 10px;
            padding: 10px;
            margin: 5px;

            width: 40%;
        }
    </style>
</body>
</html>