<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <title>Servidor</title>
</head>
<body style="background-color: #00000000;">
    <div id="loading">
        <div id="loading-circle">
            <label>Carregando...</label>
        </div>
    </div>

    <script defer>
        function showLoading() {
            document.getElementById("loading").style.display = "flex"
        }

        function hideLoading() {
            document.getElementById("loading").style.display = "none"
        }

        function isValidName(name) {
            if (!name) return false
            if (name.length > 90) return false
            return name.match(/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ0-9\-_\(\) ]+$/)
        }

        function addGoBackButton(divPaiName, link) {
            const divPai = document.getElementById(divPaiName)

            const mydiv = document.createElement("div")
            mydiv.className = "div_lastrow"

            const mybutton = document.createElement("button")
            mybutton.textContent = "Voltar"
            mybutton.id = "btnVoltar"
            mybutton.type = "button"
            mybutton.addEventListener("click", () => window.location.href = encodeURI(link))

            mydiv.appendChild(mybutton)
            divPai.appendChild(mydiv)
        }
    </script>

    <style>
        .scroll_style::-webkit-scrollbar {
            width: 5px;
            margin: 1px;
        }

        .scroll_style::-webkit-scrollbar-track {
            background: #aaa;
        }

        .scroll_style::-webkit-scrollbar-thumb {
            background: rgb(0, 78, 55);
        }

        .div_lastrow {
            display: flex;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 5px;
            justify-content: center;
            margin: 5px;
        }

        #btnVoltar {
            border-width: 0px;
            width: 100%;

            align-items: center;
            justify-content: center;

            font-size: medium;

            background-color: #00000000;
            color: rgb(0, 78, 55);
        }

        #btnVoltar:hover {
            color: rgb(0, 255, 128);
        }

        #loading {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
        }

        #loading > #loading-circle{
            animation: is-rotating 1s infinite;

            display: flex;
            width: 10vw;
            height: 10vw;

            border: 10px solid #aaa;
            border-top-color: rgb(0, 78, 55);
            border-radius: 50%;

            align-items: center;
            justify-content: center;
        }

        #loading-circle > label {
            color: #555;
            font-size: medium;
        }

        @keyframes is-rotating {
            to {
                transform: rotate(1turn);
            }
        }
    </style>

    {{{body}}}
</body>
</html>