<div id="dialog-form">
    <form id="containerForm" enctype="multipart/form-data">
        <h3 id="titulo">Enviar Arquivo</h3>

        <div class="div_row">
            <div id="div_inputArquivo">
                <label id="label_inputArquivo">Selecionar Arquivo</label>
            </div>
        </div>

        <div class="div_row">
            <div class="div_dialog_label">
                <label class="label_filename">Nome</label>
            </div>
            <input id="input_nomesala" name="filename" type="text" placeholder="Alterar nome?">
            <div id="div_label_ext">
                <label class="label_filename" id="label_ext"></label>
            </div>
        </div>

        <div class="div_row">
            <div class="div_dialog_label">
                <label class="label_filename">Pasta</label>
            </div>
            <select id="select_type" name="folder"></select>
        </div>

        <input id="inputArquivo" type="file" name="file">

        <div class="div_row">
            <button id="btnCriarPasta" type="button">Nova Pasta</button>
            <button id="btnUpload" type="submit">Upload</button>
        </div>
    </form>
</div>

<script defer>
    $("#div_inputArquivo").click(() => $("#inputArquivo").trigger('click'))

    $("#inputArquivo").click((event) => event.stopPropagation()) //tem que parar a propagação, pois um clique aqui, gera um clique na div pai, gerando uma recursão
    $("#inputArquivo").change((value) => {
        let name = value.target.files[0].name

        if (!name) return;
        if (!name.includes('.')) return $("#input_nomesala").prop("value", value.target.files[0].name);

        let sep = name.lastIndexOf('.')
        let firstname = name.slice(0, sep)
        let ext = name.slice(sep)

        $("#input_nomesala").prop("value", firstname)
        $("#label_ext").html(ext)
    })

    $("#btnCriarPasta").click(() => {
        window.location.href = "/criar_pasta"
    })
    
    $("#containerForm").submit(function (e) {
        e.preventDefault()

        if (document.getElementById("inputArquivo").files.length == 0) return alert("Nenhum arquivo selecionado!")

        showLoading()

        let dataform = new FormData(document.getElementById("containerForm"))
        let name = dataform.get("filename")

        if (!name) dataform.set("filename", '')
        else dataform.set("filename", name + $("#label_ext").text())

        $.ajax({
            url: "/api/services/push",
            type: "POST",
            data: dataform,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.responseJSON) data = data.responseJSON

                window.location.href = encodeURI(`/view/${data.folder}/${data.filename}`)
            },
            error: function (data) {
                hideLoading()
                alert((data.responseJSON ? data.responseJSON.error : data.error))
            },
        })
    })

    function onReceiveData(data) {
        const selectPasta = document.getElementById("select_type")
        data.folders.forEach(name => selectPasta.add(new Option(name, name)))
    }

    function onError(data) {
        if (data.responseJSON.error) {
            $("#titulo").html(data.responseJSON.error)
        } else {
            $("#titulo").html("Serviço Indisponível")
        }
    
        document.querySelectorAll(".div_row").forEach(
            el => el.style.display = "none"
        )

        document.getElementById("containerForm").style.justifyContent = "center"
    }

    window.onload = () => {
        showLoading()

        $.ajax({
            url: "/api/list",
            type: "GET",
            success: function (data) {
                onReceiveData(data)
                hideLoading()
            },
            error: function (data) {
                onError(data)
                hideLoading()
            },
        }).done(() => {
            addGoBackButton("containerForm", "/")
        })
    }

</script>

<style>
    body {
        overflow: hidden;
    }

    #dialog-form {
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #dialog-form > #containerForm {
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 5px 10px 8px 10px #888888;

        width: 30vw;
        height: 25vw;

        min-width: 250px;
        min-height: 270px;
        max-width: 700px;
        max-height: 520px;

        align-items: center;
    }

    #dialog-form > #containerForm > h3 {
        color: #333;
    }

    #inputArquivo {
        display: none;
    }

    #div_inputArquivo {
        display: flex;
        width: 100%;
        background-color: rgb(211, 211, 211);
        align-items: center;
        justify-content: center;
        border-radius: 15px;
    }

    #div_inputArquivo:hover {
        background-color: rgb(0, 255, 128);
    }

    #div_inputArquivo > label {
        font-size: large;
        color: #333;
    }

    #dialog-form > #containerForm > .div_row {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        margin: 5px;
    }

    .div_dialog_label {
        display: flex;
        background-color: rgb(211, 211, 211);
        width: 40%;
        height: 100%;

        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        align-items: center;
        justify-content: center;
    }

    .label_filename {
        font-size: large;
        color: #333;
    }

    #div_label_ext {
        display: flex;
        background-color: rgb(211, 211, 211);
        height: 100%;

        padding-right: 10px;
        padding-left: 10px;

        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        align-items: center;
        justify-content: center;
    }

    .div_row > input {
        display: flex;
        width: 100%;

        border-width: 0px;
        outline: 0px;
        text-align: center;
        
        color: #333;

        font-size: medium;
    }

    .div_row > select {
        display: flex;
        width: 100%;

        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-width: 0px;

        color: #333;
        padding-left: 10px;
        text-align: center;

        font-size: medium;
    }

    .div_row > button {
        display: flex;

        border-radius: 15px;
        border-width: 0px;
        width: 100%;

        align-items: center;
        justify-content: center;

        background-color: rgb(0, 78, 55);
        color: #fff;
    }

    .div_row > button:hover {
        background-color: rgb(0, 255, 128);
        color: black;
    }

    .div_row > #btnCriarPasta {
        margin-right: 5px;
    }

    .div_row > #btnUpload {
        margin-left: 5px;
    }
</style>