<div id="container_main">
    <div id="topbar">
        <div id="div_youtube">
            <div id="btn_youtube">
                <div title="youtube"></div>
                <label>Baixar Músicas</label>
            </div>
        </div>

        <div id="div_search" action="/view" method="get">
            <input type="text">
            <div title="pesquisar" id="btn_search"></div>
        </div>

        <div id="div_functions">
            <div id="btn_upload">
                <div title="upload"></div>
                <label>Enviar Arquivo</label>
            </div>
        </div>
    </div>

    <div id="container_coluns_main">

        <div id="div_folderlist" class="div_col_main">
            <label class="label_title_col">Diretórios</label>

            <div class="div_col">
                <div class="div_item">
                    <div class="item_folder_icon"></div>
                    <div class="item_label">
                        <label>Bolsa Geral</label>
                    </div>
                </div>

                <div class="div_item">
                    <div class="item_folder_icon"></div>
                    <div class="item_label">
                        <label>Coisas Pessoais</label>
                    </div>
                </div>
            </div>
        </div>

        <div id="div_filelist" class="div_col_main">
            <label class="label_title_col">Arquivos</label>

            <div class="div_col">
                <div class="div_item">
                    <div class="item_file_icon"></div>
                    <div class="item_label">
                        <label>Geral.zip</label>
                    </div>
                </div>

                <div class="div_item">
                    <div class="item_file_icon"></div>
                    <div class="item_label">
                        <label>foto.png</label>
                    </div>
                </div>

                <div class="div_item">
                    <div class="item_file_icon"></div>
                    <div class="item_label">
                        <label>Geral.zip</label>
                    </div>
                </div>

                <div class="div_item">
                    <div class="item_file_icon"></div>
                    <div class="item_label">
                        <label>foto.png</label>
                    </div>
                </div>

                <div class="div_item">
                    <div class="item_file_icon"></div>
                    <div class="item_label">
                        <label>Geral.zip</label>
                    </div>
                </div>

                <div class="div_item">
                    <div class="item_file_icon"></div>
                    <div class="item_label">
                        <label>foto.png</label>
                    </div>
                </div>

                <div class="div_item">
                    <div class="item_file_icon"></div>
                    <div class="item_label">
                        <label>foto.png</label>
                    </div>
                </div>

                <div class="div_item">
                    <div class="item_file_icon"></div>
                    <div class="item_label">
                        <label>Geral.zip</label>
                    </div>
                </div>

                <div class="div_item">
                    <div class="item_file_icon"></div>
                    <div class="item_label">
                        <label>foto.png</label>
                    </div>
                </div>

                <div class="div_item">
                    <div class="item_file_icon"></div>
                    <div class="item_label">
                        <label>Geral.zip</label>
                    </div>
                </div>

                <div class="div_item">
                    <div class="item_file_icon"></div>
                    <div class="item_label">
                        <label>foto.png</label>
                    </div>
                </div>
            </div>
        </div>

        <div id="div_filedetails" class="div_col_main">
            <label class="label_title_col">Detalhes</label>

            <div id="div_body_details">
                <div id="div_details_icon">
                </div>
                
                <div id="div_details_title">
                    <label>C3-Game-0.zip</label>
                </div>
                <div id="div_details_info">
                    <div class="div_group_itens_details">
                        <div>
                            <label class="label_details_title">Tamanho: </label>
                        </div>
                        <div>
                            <label class="label_details_item">349.3 MB</label>
                        </div>
                    </div>
                    <div class="div_group_itens_details">
                        <div>
                            <label class="label_details_title">Modificado em: </label>
                        </div>
                        <div>
                            <label class="label_details_item">14/08/2022 04:03</label>
                        </div>
                    </div>
                    <div class="div_group_itens_details">
                        <div>
                            <label class="label_details_title">URL: </label>
                        </div>
                        <div>
                            <label class="label_details_item">http://179.189.133.252:3005/api/services/get/AIC%20IV/C3-Game-0.zip</label>
                        </div>
                    </div>
                </div>
                <div id="div_details_btns">
                    <div class="div_details_item">
                        <div class="item_view_icon"></div>
                        <div class="item_label">
                            <label>Visualizar arquivo</label>
                        </div>
                    </div>
                    <div class="div_details_item">
                        <div class="item_download_icon"></div>
                        <div class="item_label">
                            <label>Baixar arquivo</label>
                        </div>
                    </div>
                    <div class="div_details_item">
                        <div class="item_trash_icon"></div>
                        <div class="item_label">
                            <label>Excluir arquivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="container_upload_first" class="container_upload">
    <div id="window_upload_first" class="window_upload">
        <div id="div_sel_file">
            <div></div>
            <label>Selecionar Arquivo</label>
            <input id="inputArquivo" type="file" name="file" style="display: none;">
        </div>
    </div>

    <label class="upload_close_text">Clique aqui para cancelar</label>
</div>

<div id="container_upload_second" class="container_upload">
    <form id="form_upload">
        <div id="window_upload_second" class="window_upload">
            <input id="input_rename_upload" type="text" placeholder="Renomear arquivo?">
            <button>Upload</button>
        </div>
    </form>

    <label class="upload_close_text">Clique aqui para cancelar</label>
</div>

<div id="container_upload_third" class="container_upload">
    <div id="window_upload_third" class="window_upload">
        <label>Já existe um arquivo com este nome</label>
        <div>
            <button id="btn_alterar_nome">Alterar Nome</button>
            <button id="btn_substitur">Substituir</button>
        </div>
    </div>

    <label class="upload_close_text">Clique aqui para cancelar</label>
</div>

<link type="text/css" rel="stylesheet" href="/styles/main/base.css">
<link type="text/css" rel="stylesheet" href="/styles/main/upload.css">

<script src="/scripts/main/base.js" defer></script>
<script src="/scripts/main/upload.js" defer></script>