<div id="dialog-form">
    <div id="containerForm">
        <div id="div_titulo" class="div_row">
            <h3 id="titulo"></h3>
            <label id="subtitulo"></label>
        </div>
    </div>
</div>

<script defer>
    function addButton(command) {
        const mydiv = document.createElement("div")
        mydiv.className = "div_row"

        const mybutton = document.createElement("button")
        mybutton.addEventListener("click", () => window.location.href = encodeURI(command.link))
        mybutton.textContent = command.label

        if (command.id) mybutton.id = command.id

        mydiv.appendChild(mybutton)
        return mydiv
    }

    window.onload = () => {
        let files = {{{files}}}

        const divPai = document.getElementById("containerForm")

        $("#titulo").html("{{folder}}")
        $("#subtitulo").html(files.length.toString() + ' arquivo(s)')

        if (files.length == 0) {
            divPai.appendChild(addButton({ label: "Enviar Arquivos", link: "/push", id: "btnCommand" }))
            divPai.appendChild(addButton({ label: "Voltar", link: "/", id: "btnCommand" }))
            return;
        }

        files.forEach(name => {
            divPai.appendChild(addButton({ label: name, link: "/view/{{folder}}/"+name }))
        })

        divPai.appendChild(addButton({ label: "Voltar", link: "/", id: "btnCommand" }))

        //const selectPasta = document.getElementById("select_type")
        //data["folders"].forEach(name => selectPasta.add(new Option(name, name)))

    }
</script>

<style>
    body {
        overflow-x: hidden;
    }

    #dialog-form {
        display: flex;
        width: 100vw;
        align-items: center;
        flex-direction: column;
    }

    #dialog-form > #containerForm {
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 5px 10px 8px 10px #888888;

        width: 30vw;

        min-width: 280px;
        max-width: 700px;
        margin-top: 5vh;

        align-items: center;
    }

    #div_titulo {
        flex-direction: column;
        align-items: center;
    }

    #div_titulo > h3 {
        color: #333;
        padding: 0;
        margin: 0;
    }

    #div_titulo > label {
        color: #666;
    }

    #dialog-form > #containerForm > .div_row {
        display: flex;
        width: 100%;
        height: 7vh;
        justify-content: center;
        margin: 5px;

        min-height: 30px;
        max-height: 100px;
    }

    .div_row > button {
        display: flex;

        border-radius: 15px;
        border-width: 0px;
        width: 100%;

        align-items: center;
        justify-content: center;

        background-color: rgb(211, 211, 211);
        color: #333;
        font-size: medium;
    }

    .div_row > button:hover {
        background-color: rgb(0, 255, 128);
    }

    #btnCommand {
        background-color: #00000000;
        color: rgb(0, 78, 55);
    }

    #btnCommand:hover {
        color: rgb(0, 255, 128);
    }
</style>