<div id="dialog-form">
    <div id="containerForm">
        <div id="div_titulo" class="div_row">
            <h3 id="titulo"></h3>
            <label id="subtitulo"></label>
        </div>
        <div id="div_itens" class="scroll_style">
        </div>
    </div>
</div>

<script defer>
    function addButton(command) {
        const divPai = document.getElementById("containerForm")

        const mydiv = document.createElement("div")
        mydiv.className = "div_row"

        const mybutton = document.createElement("button")
        mybutton.addEventListener("click", () => window.location.href = encodeURI(command.link))
        mybutton.textContent = command.label

        if (command.id) mybutton.id = command.id

        mydiv.appendChild(mybutton)
        divPai.appendChild(mydiv)
    }

    function addFileButton(command) {
        const divPai = document.getElementById("div_itens")

        const mydiv = document.createElement("div")
        mydiv.className = "div_row"

        const mybutton = document.createElement("button")
        mybutton.textContent = command.label
        mybutton.type = "button"

        if (command.id) mybutton.id = command.id

        mybutton.addEventListener("click", () => {
            let url = `${window.location.pathname}/${command.name}`
            url = url.replace(/\/{2,}/, '/')
            window.location.href = url
        })

        mydiv.appendChild(mybutton)
        divPai.appendChild(mydiv)
    }

    function onReceiveData(res, dados) {
        const files = res.files

        $("#titulo").html(dados.folder)
        $("#subtitulo").html(files.length.toString() + ' arquivo(s)')

        if (files.length == 0) {
            addButton({ label: "Enviar Arquivos", link: "/upload", id: "btnCommand" })
            addGoBackButton("containerForm", "/view")
            return;
        }

        files.forEach(name => {
            addFileButton({ label: name, name: name })
        })

        addGoBackButton("containerForm", "/view")
    }

    function onError(res, dados) {
        if (res.status == 404) {
            $("#titulo").html("Pasta não Encontrada")
            $("#subtitulo").html(dados.folder)
            hideLoading()
            return;
        } else if (res.status == 401) {
            const password = prompt("Senha da pasta: ")
            makeRequest({ ...dados, password })
        }
    }

    async function makeRequest(dados) {
        $.ajax({
            url: "/api/files/list",
            type: "POST",
            data: dados,
            success: function (res) {
                onReceiveData(res, dados)
                hideLoading()
            },
            error: function (res) {
                onError(res, dados)
                hideLoading()
            },
        })
    }

    window.onload = () => {
        let folder = "{{folder}}"

        makeRequest({ folder })
    }
</script>

<style>
    body {
        overflow: hidden;
    }

    #dialog-form {
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #dialog-form > #containerForm {
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 5px 10px 8px 10px #888888;

        width: 60vw;
        height: 85vh;

        min-width: 250px;
        min-height: 250px;

        align-items: center;
        overflow: hidden;
    }

    @media (orientation: portrait) {
        #dialog-form > #containerForm {
            width: 90vw;
            height: 90vh;
            border-radius: 0px;
            box-shadow: 5px 10px 8px 10px #88888800;
        }
    }

    #div_titulo {
        flex-direction: column;
        align-items: center;
    }

    #div_titulo > h3 {
        color: #333;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    #div_titulo > label {
        color: #666;
    }

    #div_itens {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .div_row {
        display: flex;
        width: 100%;
        height: 8vh;
        justify-content: center;
        margin: 2px;

        min-height: 50px;
        max-height: 100px;
    }

    .div_row > button {
        display: flex;

        border-radius: 10px;
        border-width: 0px;
        width: 100%;

        align-items: center;
        justify-content: center;

        background-color: rgb(211, 211, 211);
        color: #333;
        font-size: medium;
    }

    .div_row > button:hover {
        background-color: rgb(0, 255, 128);
    }

    #btnCommand {
        background-color: #00000000;
        color: rgb(0, 78, 55);
    }

    #btnCommand:hover {
        color: rgb(0, 255, 128);
    }
</style>