<div id="dialog-form">
    <div id="containerForm">
        <h3 id="titulo">Detalhes do Arquivo</h3>

        <div class="div_row">
            <div class="div_dialog_label">
                <label>Nome</label>
            </div>
            <div class="div_info_field">
                <label id="label_filename">Carregando...</label>
            </div>
        </div>

        <div class="div_row">
            <div class="div_dialog_label">
                <label>Tamanho</label>
            </div>
            <div class="div_info_field">
                <label id="label_size">Carregando...</label>
            </div>
        </div>

        <div class="div_row">
            <div class="div_dialog_label">
                <label>Data</label>
            </div>
            <div class="div_info_field">
                <label id="label_time">Carregando...</label>
            </div>
        </div>

        <div class="div_row">
            <div class="div_dialog_label">
                <label>Endereço</label>
            </div>
            <div class="div_info_field">
                <label id="label_link">Carregando...</label>
            </div>
        </div>

        <div class="div_row">
            <button id="btnView">Visualizar</button>
        </div>

        <div class="div_row">
            <button id="btnDownload">Baixar o Arquivo</button>
        </div>
    </div>
</div>

<script defer>
    $("#btnVoltar").click(() => {
        if (document.referrer) return window.location.href = document.referrer
        window.location.href = "/"
    })

    function onReceiveData(res, dados) {
        let date = res.mtime.slice(0, res.mtime.lastIndexOf(':'))
        let url = encodeURI(window.location.origin + res.url)

        $("#label_filename").html(res.name)
        $("#label_size").html(res.sizeStr)
        $("#label_time").html(date)
        $("#label_link").html(url)

        $("#btnView").click(() => {
            url = encodeURI(`/api/services/view/${res.folder}/${res.name}`)
            window.open(url)
        })

        $("#btnDownload").click(() => {
            window.location.href = url
        })
    }

    function onError(res, dados) {
        if (res.status == 404) {
            $("#titulo").html("Arquivo não Encontrado")
        } else if (res.status == 401) {
            const password = prompt("Senha da pasta: ")
            return makeRequest({ ...dados, password })
        } else {
            $("#titulo").html("Erro Desconhecido")
        }

        document.querySelectorAll(".div_row").forEach(
            el => el.style.display = "none"
        )

        document.getElementById("containerForm").style.justifyContent = "center"
    }


    async function makeRequest(dados) {
        $.ajax({
            url: "/api/files/list",
            type: "POST",
            data: dados,
            success: function (res) {
                onReceiveData(res, dados)
                hideLoading()
            },
            error: function (res) {
                onError(res, dados)
                hideLoading()
            },
        })
    }

    window.onload = () => {
        let folder = "{{folder}}"
        let file = "{{file}}"

        addGoBackButton("containerForm", encodeURI(`/view/${folder}`))

        makeRequest({ folder, file })
    }
</script>

<style>
    body {
        overflow: hidden;
    }

    #dialog-form {
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #dialog-form > #containerForm {
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 5px 10px 8px 10px #888888;

        width: 60vw;
        height: 50vh;

        min-width: 250px;
        min-height: 250px;

        align-items: center;
    }

    @media (orientation: portrait) {
        #dialog-form > #containerForm {
            width: 90vw;
            height: 90vh;
            border-radius: 0px;
            box-shadow: 5px 10px 8px 10px #88888800;
        }
    }

    @media (max-height: 520px) and (orientation: landscape) {
        #dialog-form > #containerForm {
            height: 80vh;
        }
    }

    #dialog-form > #containerForm > h3 {
        color: #333;
        text-align: center;
    }

    #dialog-form > #containerForm > .div_row {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        margin: 5px;
    }

    .div_dialog_label {
        display: flex;
        background-color: rgb(211, 211, 211);
        width: 40%;
        height: 100%;

        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        align-items: center;
        justify-content: center;
    }

    .div_info_field {
        display: flex;
        width: 100%;

        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-width: 0px;

        background-color: white;

        align-items: center;
        padding-left: 10px;
        overflow-x: auto;
    }

    .div_info_field > label {
        font-size: large;
        color: #333;
    }

    .div_row > button {
        display: flex;

        border-radius: 15px;
        border-width: 0px;
        width: 100%;

        align-items: center;
        justify-content: center;

        background-color: rgb(0, 78, 55);
        color: #fff;
    }

    .div_row > button:hover {
        background-color: rgb(0, 255, 128);
        color: black;
    }
</style>